<html>
    <head>
        <title>Kutrin höpinöitä</title>
    </head>
    <body>
      <div>
            <h1><a href="/">Kutri the Django Girl</a></h1>
        </div>
        <div>
           <p>published: 04.11.2017, 14:38</p>
           <h2>My first post</h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       </div>
    </body>
    <a href="https://www.instagram.com/kutritee/">My Instagram</a>
</html>
